<!DOCTYPE html>
<html ng-app="DemoApp">

<head>
    <meta charset="utf-8" />
    <title>Demo app for persistance</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
    <script src="scripts/services/vsHandyStorage.js"></script>
    <script src="scripts/DemoModule.js"></script>
    <script src="scripts/controllers/DirectController.js"></script>
</head>

<body ng-controller="DirectController as controller">
    <div>
        <form name='controller.demoForm' vs-local-storage="localStorage">
            <label></label>First name:</label>
            <input type="text" name="firstName" vs-link-storage ng-model='controller.localStorage.firstName'><br><br>
            <label>Last name:</label>
            <input type="text" name="lastName" vs-link-storage ng-model='controller.localStorage.lastName'><br><br>
            
            <label>
                <input name="sex" vs-link-storage ng-model="controller.localStorage.sex" type="radio" value="male"> male
            </label>
            <label>
                <input name="sex" vs-link-storage ng-model="controller.localStorage.sex" type="radio" value="female"> female
            </label><br><br>


            <label>Title:</label>
            <select name="title" vs-link-storage ng-model="controller.localStorage.title">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
            </select><br><br>

            <label>Do you Agree:
                <input name="isAgreed" type="checkbox" vs-link-storage ng-model="controller.localStorage.isAgreed" ng-true-value="'YES'" ng-false-value="'NO'">
                {{controller.localStorage.isAgreed}}
              </label>


        </form>
    </div>
</body>

</html>